body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.pacman {
  width: 350px;   
}

.caption {
  margin-top: 30px;
  font-size: 28px;
  font-family: Arial, sans-serif;
}
.angry {
  width: 300px;   
  height: auto;
}
.sponge {
  width: 250px;   /* adjust size anytime */
  height: auto;
}

/* text that looks like a link but isn't */
.fake-link {
  margin-top: 32px;
  font-size: 24px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-family: Arial, sans-serif;
}
